body{
    font-family: sans-serif;
}

/* --- This is the body --- */
.weatherContainer{
    border: solid black;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-width: 540px;
}

/* --- This is the search container --- */
.searchContainer{
    border: solid red;
    display: block;
    justify-content: center;
    text-align: center;
    padding: 0.5em;
    width: 100%;
    max-width: 540px;
}

#result{
    border: solid blue;
    display: flex;
    justify-content:flex-start;
    margin: 10px;
    padding: 0.5em;
    width: 100%;
    max-width: 350px;
    font-size: 1.5em;
    line-height: 35px;
}