body{
    font-family: sans-serif;
}

.header{
    display: flex;
    justify-content: center;
}

.mainContainer{
    border: solid green;
    display: block;
    justify-content: center;
    padding: 2em;
    margin: 1em;
    height: 100%;
}

.secondContainer{
    border: solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: 1em;
}

/* --- This is the body --- */
.weatherContainer{
    border: solid black;
    padding: 1em;
    display: flex;
    align-items: center;
    height: auto;
    max-width: 540px;
}

/* --- This is the search container --- */
.searchContainer{
    border: solid red;
    display: block;
    justify-content: center;
    text-align: center;
    padding: 0.5em;
    margin: 1em;
    width: 100%;
    max-width: 540px;
}

/* --- The Image --- */
.weatherIcon{
    border: solid purple;
    margin: 1em;
    height: 300px;
    width: 300px;
}

/* --- The results --- */
#result{
    border: solid blue;
    display: flex;
    justify-content:flex-start;
    margin: 1em;
    padding: 0.5em;
    width: 100%;
    max-width: 350px;
    font-size: 1.2em;
    line-height: 35px;
}

#resultTwo{
    border: solid blue;
    display: flex;
    justify-content:flex-start;
    margin: 1em;
    padding: 0.5em;
    width: 100%;
    max-width: 350px;
    font-size: 1.2em;
    line-height: 35px
}